.mainContainer {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    margin-bottom: 1.5rem;
}

.mainHeading {
    color: #FFCA79;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

.companyFirstLine {
    overflow: hidden;
    width: 8rem;
    height: 8rem;
}

.companySecondLine {
    overflow: hidden;
    width: 6rem;
    height: 6rem;
}

.btnSupport {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    border: 1px solid #FFCA79 !important;
    border-radius: 20px !important;
    color: #FFCA79 !important;
    font-size: 1.5rem !important;
    padding: 0.3rem 2rem !important;
}

.btnSupport:hover {
    color:white !important;
    background: #FFCA79 !important;
}
