.hpCarouselWrapper{
    max-width: fit-content !important;
    padding: 0px !important;

}
.hpBtnContact {
    color: #FFCA79;
    font-size: 1.2rem;
    border: 1px solid #FFCA79;
    border-radius: 30px;
    padding: 0.3rem 2.5rem;
    margin-bottom: 1.5rem;
    background:transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.carouselImage {
    width: 100%;
}

.hpBtnContact:hover{
    background-color: #FFCA79;
    color: #ffffff;
}

.hpCarouselCaption {
    height: 100% !important;
    text-align: left !important;
    left: 55% !important;
    right: 10% !important;
    padding: 0 !important;
    top:15%;
}
.hpHeadingWeight{
    font-weight: 600;
}
.hpText{
    font-size: 1.3em;
}

@media (max-width: 800px) {
   .hpCarouselCaption{
        top: 0 !important;
        margin-bottom: 10px;
    }
    .carouselImage {
        height: 220px;
    }

    .hpHeadingWeight {
        font-size: 1rem !important;
        margin-top: 0.7rem !important;
        margin-bottom: 0.7rem !important;
    }
}

@media (max-width: 1100px) {
    .hpCarouselCaption{
        left: 10% !important;
    }
}

@media (max-width: 380px) {

    .hpBtnContact {
        font-size: 0.5rem !important;
        padding: 0.4rem !important;
        margin-bottom: 0.7rem !important;
    }

    .hpText{
        font-size: 0.8rem !important;
        margin-bottom: 0.7rem !important;
    }
}
@media (min-width: 380px) and (max-width: 600px) {
    .hpHeadingWeight  {
        font-size: 1rem !important;
    }
    .hpText{
        font-size: 0.85rem !important;
        margin-bottom: 0.5rem !important;
    }
    .hpBtnContact {
        font-size: 0.65rem;
        padding: 0.2rem;
    }
}


