.mainWrapper {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.username {
    color: #9CB4F7;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.tier {
    color: #FFCA79;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.subscription {
    color: #9F9E9E;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.calendar {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.calendarSpan {
    color: #7d73c3;
    margin-right: 0.5rem;
    margin-bottom: 0;
}
