.hpLoginBody {
    margin: 1.5rem auto;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.hpLoginHead {
    color: #FFCA79 !important;
    font-size: 1.2rem !important;
    margin-bottom: 1.2rem !important;
}

.hpBtnCashId {
    width: 100% !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    background-color: #9CB4F7 !important;
    font-size: 1.1rem !important;
    margin-bottom: 1.5rem !important;
}
.hpBtnCashId:hover{
    color:white;
}

.hpSeparator {
    color: #7d73c3;
    text-align: center;
}
.hpSeparator::before{
    content: "";
    display: inline-block;
    border-top: 1px solid #7d73c3;
    width: 45%;
    padding-top: 0.3rem;
}
.hpSeparator::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #7d73c3;
    width: 45%;
    padding-top: 0.3rem;
}

.hpLoginFormControl {
    border-color: #7d73c3 !important;
    border-radius: 15px !important;
    color: #7d73c3 !important;
    height: 2.5rem !important;
    margin-bottom: 1.5rem;
}

.hpLoginFormControl::placeholder {
    color: #7d73c3 !important;
    opacity: 1 !important; /* Firefox */
}

.hpBtnLogin {
    width: 100% !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    background-color: #7d73c3 !important;
    font-size: 1.1rem !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
}

.hpFormFooter {
    border-top: 1px solid #7d73c3;
    color: #707070;
    text-align: center;
    padding-top: 1rem;
}

.hpOrange {
    color: #FFCA79;
    text-transform: uppercase;
    font-weight: bold;
}
.hpBlack {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}



