.cashiddiv {
    display: block;
}
.badgerButton {
    width: 100% !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    background-color: #9CB4F7 !important;
    font-size: 1.1rem !important;
    margin-bottom: 1.5rem !important;
}
