.avatar {
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: auto;
    /* border-radius: 50%; */
}

.hpProfile {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.avatarEditor {
    touch-action: none;
    cursor: grab;
    position: relative;
    width: 11rem !important;
    height: 11rem !important;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px -13px;
    z-index: 2;
}

.hpAvatar{
    position: relative;
    top: 2rem;
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    border: 0.5rem solid #7D73C3;
    box-shadow: 0 10px 10px -13px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
@media (min-width: 990px) {
    .hpAvatar {
        z-index: 2;
        top: calc(50% - 6rem);
        left: 2rem;
        box-shadow: 10px 0 10px -14px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 990px) {
    .hpCardBody {
        padding-top: 3rem;
        padding-right: 3rem;
        padding-left: 4rem;
    }
}
.hpCardBody{
    text-align: center;
    padding-top: 3rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    background-color: #fff;
    flex: 1 1 auto;
}

.hpBtnEdit {
    position: absolute !important;
    top: 2%;
    right: 2%;
    border: 1px solid #FFCA79 !important;
    border-radius: 50% !important;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 !important;
}
.hpBtnSave {
    position: absolute !important;
    top: 2%;
    right: 7%;
    border: 1px solid green !important;
    border-radius: 50% !important;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 !important;
}

.hpCBname{
    color: #7d73c3;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.hpCBusername {
    color: #9CB4F7;
    margin-bottom: 0;
}

.hpCBjoin {
    color: #9F9E9E;
    font-size: 0.8rem;
}

.hpCBbloglink {
    color: #FFCA79;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-decoration: underline;
}

.hpCBbloglink:hover{
    color: #FFCA79;
    text-decoration: underline;
}

.hpCardText {
    color:#7d73c3;
    font-weight:400;
}
.hpSocial{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #7d73c3;
    border-radius: 50%;
    padding-top: 0.4rem;
}
.hpSocial:hover{
    background-color: #FFCA79;
    border-color: #FFCA79;
}
.hpSocial:hover .hpSocialIcon{
  color: white;
}
@media (min-width: 576px) {
    .hpSocial {
        margin-right: 1rem !important;
    }
}
.hpSocialIcon {
    color: #7d73c3;
    font-size: 1.5rem;
}
.hpFunded {
    width: 45%;
    color: #707070;
    font-size: 1.125rem;
}

.hpGoal {
    width: 45%;
    color: #9F9E9E;
    font-size: 1.125rem;
}

.hpCardFooter {
    margin-top: 1.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
}

.hpCardTextArea {
    width: 100%;
    height: 8em;
    border: 1px solid;
    padding: 10px;
    border-radius: 10%;
}

.hpCardUserNameEdit::placeholder {
    color: #9CB4F7 !important;
    opacity: 1 !important; /* Firefox */
    text-align: center;
}

.hpAvatarPicker {
    display: flex;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.hpAvatarPickerLabel {
    width: 100%;
    text-align: center;
    position: relative;
    top: 40%;
}

.hpSocialLinksTextInput {
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #7d73c3;
}
.hpSocialLinksTextInput:focus {
    outline: none;
}

.hpCardTextArea:focus {
    outline: none;
}

.hpSocialLinksTextInput::placeholder {
    color: #9CB4F7 !important;
    opacity: 1 !important; /* Firefox */
    text-align: center;
}


