@tailwind base;
@tailwind components;
@tailwind utilities;
@fortawesome/fontawesome-free/js/fontawesome

header {
    background-image:linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url(/images/cover.jpg)
}
.text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.text-two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
